body{

    background-color: aqua;

}

.username_{

    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.password_{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.password_register{

    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.email_{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.internal_div_button{

    text-align: center;

}

#primary{

    padding-top: 4%;

}

#container-form{

    padding-top: 8%;
}

#boton-form{

    padding-top: 5%;
    padding-bottom: 5%;
}

#submit{

    width: 100%;
    height: 100%;

}

#columnas{

    padding: 5%;
    background-color: rgba(129, 28, 28, 0.568);
    box-sizing: border-box;
    border-radius: 5%;
    text-align: center;

}

#cookie-consent-container{

    position: absolute;
    top: 45%; left: 25%;
    background-color: bisque;
    border-radius: 5%;
    padding: 5%;
    flex-direction: column;
    display: flex;
    text-align: center;
    padding-bottom: 3.5%;
    width: 50%;

}

#cookie-consent{

    border-radius: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
    width: 25%;
    text-align:center

}

#cookie-no-consent{

    border-radius: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
    width: 25%;
    text-align:center
    
}