{% include "head.html" %}

<main>

    <div class = "container" id = "container-form">

        <div class="row align-items-center">

            <div class="col-4">
            </div>
            <div class="col-4" id = "columnas">
    
                <form method = "POST">

                    <h1>LOG IN</h1>
    
                    {{ form.csrf_token }}
                    <div class = "username_">
                        
                        {{ form.username.label }}  {{ form.username(placeholder = "username") }}
                        {% for error in form.username.errors %}
                            <span class = "error"> {{ error }} </span>
                        {% endfor %}
                    
                    </div>
        
                    <div class = "password_">
        
                        {{ form.password.label }} 

                        <div class = 'password-container'>
                            {{ form.password(placeholder = "password", class = "password-input") }}
                            <button img src="img/mostrar.png" alt="Mostrar" type = "button" class="toggle-password" onclick="togglePassword()"></button>
                        </div>
                        
                        {% for error in form.password.errors %}
                            <span class = "error"> {{ error }} </span>
                        {% endfor %}
        
                    </div>
                    <div class="row align-items-center ">

                         <div class="col-2">
                        </div>
                        <div class="col-8" id = "boton-form">

                            {{ form.submit() }}

                        </div>
                        <div class="col-2">
                        </div>

                    </div>    
                    
            </div>
            <div class="col-4">
            </div>
    
        </div>

    </div>

    <script>
        function togglePassword() {
            var passwordInput = document.querySelector('.password-input');
            var toggleButton = document.querySelector('.toggle-password');
            if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              toggleButton.classList.remove('toggle-password-show');
              toggleButton.classList.add('toggle-password-hide');
              toggleButton.alt = 'Ocultar';
            } else {
              passwordInput.type = 'password';
              toggleButton.classList.remove('toggle-password-hide');
              toggleButton.classList.add('toggle-password-show');
              toggleButton.alt = 'Mostrar';
            }
          }
          
    </script>

</main>

{% include "foot.html" %}